:root {
  --base-color: #a4a4a4;
  --base-variant: #e4e4e4;
  --text-color: #2d3a4b;
  --primary-color: #1f1f1f;
  --accent-color: #f4c542;
  --header-bg: #e4e4e4;
  --footer-bg: #e4e4e4;
  --header-text-color: #2d3a4b;
  --footer-text-color: #2d3a4b;
  --transition-duration: 0.4s;
}

.darkmode {
  --base-color: #121212;
  --base-variant: #1f1f1f;
  --text-color: #e4e4e4;
  --primary-color: #e4e4e4;
  --accent-color: #f4c542;
  --header-bg: #1f1f1f;
  --footer-bg: #1f1f1f;
  --header-text-color: #e4e4e4;
  --footer-text-color: #e4e4e4;
}
  
  /* Sidebar styles */
  #theme-switch-sidebar {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.6s ease;
  }
  
  #theme-switch-sidebar:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  }
  
  /* Sidebar icons */
  #sidebar-sun-icon, #sidebar-moon-icon {
    transition: opacity 0.3s ease, transform 0.6s ease;
  }
  
  .darkmode #sidebar-sun-icon {
    transform: rotate(360deg);
    opacity: 0;
  }
  
  .darkmode #sidebar-moon-icon {
    transform: rotate(360deg);
    opacity: 1;
  }
  
  #sidebar-sun-icon {
    transform: rotate(0deg);
    opacity: 1;
  }
  
  #sidebar-moon-icon {
    opacity: 0;
    transform: rotate(-360deg);
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: var(--base-variant);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 60px;
    z-index: 100;
    transition: right 0.4s ease-in-out;
    overflow-y: auto; /* For scrollable sidebar content */
  }
  
  .sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    display: block;
    font-weight: 600;
    text-align: left;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .sidebar a:hover {
    color: var(--accent-color);
    transform: scale(1.05);
  }
  
  .sidebar-toggle {
    position: absolute;
    right: 20px;
    top: 6%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 101;
    transition: opacity 0.4s ease;
  }
  
  .hamburger-icon {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--text-color);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .sidebar-toggle:hover .hamburger-icon {
    background-color: var(--accent-color);
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .sidebar-open ~ .sidebar-toggle {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
  }
  
  .sidebar-open {
    right: 0;
  }
  
/* Body and Branding Section */
body {
  background-color: var(--base-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

.branding {
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: var(--header-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.branding h2 {
  font-size: 1.4em;
  font-weight: 600;
  color: var(--header-text-color);
}

/* Tank list section */
.tank-list {
  flex-grow: 1;
  padding: 20px min(30px, 5%);
  background-color: var(--base-variant);
  margin: 40px auto 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 750px;
  width: 90%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* Aligns tank list content to the left */
  text-align: left;
}

.tank-list h1 {
  color: var(--primary-color);
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 20px;
  align-self: flex-start; /* Aligns title to the top-left */
  position: relative;
  padding-bottom: 10px;
}
.tank-list h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  bottom: 0;
  left: 0;
}
.tank-box a {
  font-size: 1.1em;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.tank-box a:hover {
  color: var(--accent-color);
}
  
 /* Footer */
footer {
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
}
.footer-right {
  display: flex;
  align-items: center;
}

.footer-right p {
  margin-left: 5px;
  font-size: 1em;
  font-weight: 500;
}

.footer-logo {
  width: 25px;
  height: auto;
  margin-left: 10px;
}

/* Floating shapes background */
@keyframes float1 {
  0% {
    transform: translateY(0px) rotate(0deg);
    opacity: 0.7;
  }
  50% {
    transform: translateY(-30px) rotate(180deg);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0px) rotate(360deg);
    opacity: 0.7;
  }
}

@keyframes float2 {
  0% {
    transform: translateY(0px) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-20px) scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 0.5;
  }
}

@keyframes float3 {
  0% {
    transform: translateY(0px) scale(1);
    opacity: 0.4;
  }
  50% {
    transform: translateY(15px) scale(0.9);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 0.4;
  }
}

.floating-shape {
  position: absolute;
  z-index: -1;
  opacity: 1;
  transition: transform 1s ease;
}

/* Circle Shapes */
.circle1 {
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
  border-radius: 50%;
  top: 20%;
  left: 86%;
  animation: float1 6s ease-in-out infinite;
}

.circle2 {
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  border-radius: 50%;
  top: 15%;
  left: 3%;
  animation: float2 8s ease-in-out infinite;
}

/* Triangle Shapes */
.triangle1, .triangle2 {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 90px solid var(--primary-color);
  animation: float3 7s ease-in-out infinite;
}

.triangle1 {
  top: 50%;
  left: 12%;
  transform: rotate(45deg);
}

.triangle2 {
  top: 35%;
  left: 90%;
  transform: rotate(-30deg);
}

/* Square Shapes */
.square1, .square2 {
  background-color: var(--primary-color);
  animation: float2 9s ease-in-out infinite;
}

.square1 {
  width: 70px;
  height: 70px;
  top: 80%;
  left: 90%;
}

.square2 {
  width: 50px;
  height: 50px;
  top: 35%;
  left: 5%;
}

/* Random Colorful Shapes */
.colorful1 {
  width: 120px;
  height: 20px;
  background-color: var(--primary-color);
  top: 60%;
  left: 85%;
  transform: rotate(10deg);
  animation: float1 10s ease-in-out infinite;
}

.colorful2 {
  width: 30px;
  height: 80px;
  background-color: var(--primary-color);
  top: 20%;
  left: 12%;
  transform: rotate(90deg);
  animation: float3 5s ease-in-out infinite;
}

.colorful3 {
  width: 80px;
  height: 80px;
  background-color: var(--primary-color);
  top: 70%;
  left: 10%;
  border-radius: 20px;
  animation: float2 12s ease-in-out infinite;
}
