:root {
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --secondary-text: #232738;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
  --transition-duration: 0.4s;
}

.darkmode {
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --secondary-text: #a4a5b8;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
  min-height: 100vh;
  transition: background-color var(--transition-duration) ease, color var(--transition-duration) ease;
}

header {
  padding: 15px 0;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#theme-switch {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  transition: background-color var(--transition-duration) ease;
}

#theme-switch svg {
  fill: var(--primary-color);
  transition: fill var(--transition-duration) ease;
}

#theme-switch svg:last-child {
  display: none;
}

.darkmode #theme-switch svg:first-child {
  display: none;
}

.darkmode #theme-switch svg:last-child {
  display: block;
}

section {
  padding: 70px min(50px, 7%);
  background-color: var(--base-variant);
  transition: background-color var(--transition-duration) ease;
}

p {
  margin: 10px 0 20px 0;
  color: var(--secondary-text);
}

button {
  border: none;
  padding: 0.8em 2em;
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: background-color var(--transition-duration) ease;
}

.cta-button {
  background-color: var(--accent-color);
}

.darkmode button {
  background-color: var(--accent-color);
}

footer {
  background-color: var(--primary-color);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  width: 100%;
}
