/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

h1 {
  margin: 0;
}

section {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px; /* Set a smaller max-width for the sections */
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center content */
}

canvas {
  max-width: 100%;  /* Make canvas responsive */
  height: auto;     /* Maintain aspect ratio */
}

footer {
  text-align: center;
  margin: 20px 0;
  color: #777;
}
