:root {
  --light-bg: #f4f7fc;
  --light-text: #333;
  --dark-bg: #121212;
  --dark-text: #ffffff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--light-bg);
  color: var(--light-text);
  transition: background-color 0.5s, color 0.5s;
}

header {
  background-color: #283593;
  color: white;
  padding: 10px;
  text-align: center;
}

button#theme-switch {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

section {
  margin: 20px;
  text-align: center;
}

#capacityChart, #historicalChart {
  max-width: 90%;
  height: 300px;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

footer {
  background-color: #283593;
  color: white;
  padding: 10px;
  text-align: center;
}

/* Dark mode */
body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}
