/* style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

h1 {
  margin: 0;
}

section {
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center content */
}

#status-section {
  background-color: #e7f4f7; /* Light blue for the status section */
}

#prediction-section {
  background-color: #fff8e1; /* Light yellow for the prediction section */
}

#historical-section {
  background-color: #f9f9f9; /* Light grey for historical data section */
}

canvas {
  max-width: 100%;  /* Make canvas responsive */
  height: auto;     /* Maintain aspect ratio */
  max-height: 250px;  /* Set a max height for the charts */
}

footer {
  text-align: center;
  margin: 20px 0;
  color: #777;
}
